* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(21,6,31);
    color: rgb(212,173,238);
}

.container {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    padding: 30px 40px;
    background: rgb(101,63,124);
}

.header {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.header img {
    border: 5px solid white;
    max-width: 140px; 
    border-radius: 20%;
}

.header .fullname {
    color: rgb(21,6,31);
    padding: 30px;
    font-weight: bold;
    font-size: larger;
}

.job {
    width: 100%;
}

.short-bio {
    padding: 20px 20px 12px 0px;
    font-size: 14px;
}


.location-time {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    padding-top: 5px;
    font-size: 10px;
}


.social-links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 30px 0px 20px 0px;
    color: rgb(21,6,31);
}


.social-links a {
    text-decoration: none;
    color: inherit; 
}


@media screen and (max-width: 400px) {
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;  
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        padding: 20px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header img {
        max-width: 30vw; 
    }

    .fullname {
        padding: 0;
        text-align: center;
        font-size: 1em;
    }

    .job {
        font-size: 1.2em;
    }

    .short-bio {
        font-size: 1em;
        padding: 0;
        text-align: center;
    }

    .location-time {
        font-size: 0.6em;
    }

    .popup-content {
        width: 80%;
        padding: 20px;
    }

    .footer {
        margin-top: 0px;
    }
}

